body {
	background: #f5ebff;
	font-family: 'Rubik', sans-serif;
}

.author-image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0 !important;
}

.navbar-default {
    background-color: #090a29;
    border-color: #0a0010;
}

.comment {
	margin-bottom: 45px;
}

.author-name {
	float: left;
	margin-left: 15px;
}
.author-name>h6 {
	margin: 5px 0;
}

.author-time {
	font-size: 11px;
	font-style: italic;
	color: #aaa;
}

.comment-content {
	clear: both;
	margin-left: 65px;
	font-size: 16px;
	line-height: 1.3em;
}
.homepage-hero {
	background: url(http://www.themes-lab.com/make-frontend/common-files/images/bg/smoke2.png),url(https://wallpaperscraft.com/image/surface_texture_stains_background_50906_5000x3690.jpg);
	width: 100%;
	height: 65vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-clip-path: polygon(0px 72%,100% 100%,100% 0px,0px 0px);
	clip-path: polygon(0px 72%,100% 100%,100% 0px,0px 0px);
	background-blend-mode: hard-light;
}

.homepage-hero:before {
	position: absolute;
    content: '';
    width: 100%;
    height: 65vh;
    z-index: -1;
    clip-path: polygon(0px 72%,100% 100%,100% 0px,0px 0px);
    background-image: radial-gradient(circle at center, #152835c2 0, #2f034abf 100%);
}

.homepage-hero hgroup {
	font-family: 'Zilla Slab', serif;
}