
// Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

// Variables
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// Elements
@import "navbar";
@import "comments";
@import "home";
@import 'mixins';

// Bootstrap



body {
	background: $body-bg;
	font-family: $font-family-serif;
	box-sizing: border-box;
	
	.row {
		margin-left: 0;
		margin-right: 0;
	}

	@include headings {
		font-family: $font-family-sans-serif;

	}
	.section-heading {
		font-size: 5rem;
		font-weight: 900;
	}

	.heading-inverse {
		font-family: $font-family-serif;
	}
}

.blog {
	header {
		background: $deep-purple;
		background-image: radial-gradient(circle at 10%, $deep-purple 0, #060113 100%);

		h1 {
			background: $body-bg;
			min-width: 25%;
			width: auto;
			margin: 0 16%;
			padding: 20px 25px 0px;
			border-radius: 20px 20px 0 0;
			margin-bottom: 40px;
			margin-top: 40px;
		}

		img {
			padding: 0px 15%;
		}
	}
}